@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Share+Tech+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Electrolize', sans-serif;
    background-color: hsl(230, 100%, 10%);
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='hsl(0, 10%, 10%)' fill-opacity='0.30' fill-rule='evenodd'/%3E%3C/svg%3E");
}
}


.heading {
    text-align: center;
    font-weight: 400;
    word-spacing: 2em;
    margin-top: -0.1em;
}

.logo {
    padding: 0;
    z-index: 1;
    top: -2em;
}

.card {
    margin-top: 40px;
    width: 60vw;
    height: auto;
    padding: .8em;
    border: 0;
    position: relative;
    box-shadow: hsl(200, 50%, 50%) 0px 13px 47px -5px, hsl(200, 50%, 50%) 0px 8px 100px -8px;

}

.card-img {
    background-color: hsl(200, 50%, 50%);
    height: 40%;
    width: 100%;
    transition: .3s ease;
    border-radius: .5rem;
}

.card-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: .5rem;

}

.card-info {
    padding-top: 10%;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    border-top: 1px solid hsl(200, 50%, 50%);
}

/*Text*/
.text-title {
    font-weight: 800;
    font-size: 3em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
}

.card-button:hover {
    border: 1px solid hsl(200, 50%, 50%);
    background-color: hsl(200, 50%, 50%, 0.2);
    transition: transform .3s ease-in-out;
}

.form-group {
    text-align: center;
}

.card:hover {
    border: 1px solid hsl(200, 100%, 50%);
    box-shadow: inset 0px 1px 50px -10px rgba(0,170,255,1);
    transition: all .5s ease-in-out;
}

h1, h2, h3, h4, h5, h6, label, .card-title {
    margin-top: 1em;
    color: hsl(200, 100%, 80%) !important;
    text-align: center;
}

.description {
    width: 100%;
    height: 110px;
    text-align: center;
    overflow: hidden;
}

.price {
    background: hsl(87, 100%, 45%, 0.15);
    border: 5px double hsl(87, 100%, 45%);
    margin: 5px 0;
    padding: 0.25em 0.5em;
    border-radius: 0.15em;
    color: hsl(87, 100%, 45%);
}


/* footer */
footer {
    margin: 50px 0;
    background-color: hsl(0, 0%, 20%, 0.1);
    color: rgb(59, 59, 59, 0.5)
    font-family: 'Share Tech Mono', monospace;
}

/* buttons */
.btn {
    background-color: hsl(200, 100%, 50%, 0.1);
    border: 1px solid hsl(200, 100%, 50%);
    color: hsl(200, 100%, 50%);
    color: rgba(100, 100, 100);
    padding: 0.45em 0.5em;
    border-radius: 0.15em;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
}

.btn:hover,
.btn:focus-visible {
    background: hsl(200, 100%, 50%, 0.2);
    transition: all .5s ease-out;
    transform: scale(0.95) translateY(-3px);
}

.btn.btn-danger {
    background: hsl(0, 100%, 40%, 0.1);
    border: 1px solid hsl(0, 100%, 40%);
    color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
    background: hsl(0, 100%, 40%, 0.2);
} 

/* inputs */
.new-item-form {
    display: flex;
    margin-top: 1em;

}

.new-item-form input,
.new-item-form textarea {
    outline: hsla(193, 95%, 68%, 0.725) solid 1px;
    border: 2px solid hsl(200, 100%, 40%);
    background: hsl(200, 50%, 30%);
    border-radius: 0.25em;
    color: hsl(200, 100%, 100%);
    opacity: 0.6;

}

.fa-solid {
    color: hsl(200, 100%, 50%);
    background-color: hsl(200, 100%, 50%, 0.01);
    padding: 5px;
}



.new-item-form input:focus,
.new-item-form input:focus-visible {
    border: 1px solid hsl(200, 100%, 50%);
}



/* squared squares spinners */
.spinner-container {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 5em;
}


.breeding-rhombus-spinner {
    height: 95px;
    width: 95px;
    position: relative;
    transform: rotate(45deg);
}

.breeding-rhombus-spinner, .breeding-rhombus-spinner * {
    box-sizing: border-box;
}

.breeding-rhombus-spinner .rhombus {
    height: calc(95px / 7.5);
    width: calc(95px / 7.5);
    animation-duration: 2000ms;
    top: calc(95px / 2.3077);
    left: calc(95px / 2.3077);
    background-color: hsl(250, 40%, 50%);
    position: absolute;
    animation-iteration-count: infinite;
}

.breeding-rhombus-spinner .rhombus:nth-child(2n+0) {
    margin-right: 0;
}

.breeding-rhombus-spinner .rhombus.child-1 {
    animation-name: breeding-rhombus-spinner-animation-child-1;
    animation-delay: calc(100ms * 1);
}

.breeding-rhombus-spinner .rhombus.child-2 {
    animation-name: breeding-rhombus-spinner-animation-child-2;
    animation-delay: calc(100ms * 2);
}

.breeding-rhombus-spinner .rhombus.child-3 {
    animation-name: breeding-rhombus-spinner-animation-child-3;
    animation-delay: calc(100ms * 3);
}

.breeding-rhombus-spinner .rhombus.child-4 {
    animation-name: breeding-rhombus-spinner-animation-child-4;
    animation-delay: calc(100ms * 4);
}

.breeding-rhombus-spinner .rhombus.child-5 {
    animation-name: breeding-rhombus-spinner-animation-child-5;
    animation-delay: calc(100ms * 5);
}

.breeding-rhombus-spinner .rhombus.child-6 {
    animation-name: breeding-rhombus-spinner-animation-child-6;
    animation-delay: calc(100ms * 6);
}

.breeding-rhombus-spinner .rhombus.child-7 {
    animation-name: breeding-rhombus-spinner-animation-child-7;
    animation-delay: calc(100ms * 7);
}

.breeding-rhombus-spinner .rhombus.child-8 {
    animation-name: breeding-rhombus-spinner-animation-child-8;
    animation-delay: calc(100ms * 8);
}

.breeding-rhombus-spinner .rhombus.big {
    height: calc(95px / 3);
    width: calc(95px / 3);
    animation-duration: 2000ms;
    top: calc(95px / 3);
    left: calc(95px / 3);
    background-color: hsl(290, 90%, 70%, 0.5);
    animation: breeding-rhombus-spinner-animation-child-big 2s infinite;
    animation-delay: 0.5s;
}


@keyframes breeding-rhombus-spinner-animation-child-1 {
    50% {
        transform: translate(-325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-2 {
    50% {
        transform: translate(0, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-3 {
    50% {
        transform: translate(325%, -325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-4 {
    50% {
        transform: translate(325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-5 {
    50% {
        transform: translate(325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-6 {
    50% {
        transform: translate(0, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-7 {
    50% {
        transform: translate(-325%, 325%);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-8 {
    50% {
        transform: translate(-325%, 0);
    }
}

@keyframes breeding-rhombus-spinner-animation-child-big {
    50% {
        transform: scale(0.5);
    }
}

